@keyframes slide {
    from{
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

.logo {
    overflow: hidden;
    padding: 10px 0 10px 0;
    background: var(--textWhite);
    white-space: nowrap;
    position: relative;
}

.logo:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary-coloro-950-opacityLess));
    content: "";
    z-index: 2;
}

.logoSlide {
    display: inline-block;
    animation: 150s slide infinite linear;
}

.logoSlide img {
    width: 100px;
    height: auto;
    margin: 0 10px;
}

/* Medidad Tablet */
@media ( 760px <= width ) {
    .logoSlide img {
        width: 125px;
    }

    .logoSlide {
        animation: 120s slide infinite linear;
    }
}

/* Medidas PC  */
@media ( 1024px <= width ) {
    .logoSlide {
        animation: 90s slide infinite linear;
    }

    .logoSlide img {
        width: 150px;
    }
}
