@keyframes slide {
    from{
        transform: translateX(0);
    } to {
        transform: translateX(-50%);
    }
}

.logo {
    overflow: hidden;
    padding: 10px 0;
    background: var(--textWhite);
    white-space: nowrap;
    position: relative;
}

.logo:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary-coloro-950-opacityLess));
    content: "";
    z-index: 2;
}

.mediaEqual{
    display: inline-block;
    animation: slide 150s linear infinite;
}

.mediaEqual img {
    width: 100px;
    height: auto;
    margin: 0 10px;
}

/* Medidad Tablet */
@media ( 760px <= width ) {
    .mediaEqual img {
        width: 125px;
    }

    .mediaEqual {
        animation: slide 120s linear infinite;
    }
}

/* Medidas PC  */
@media ( 1024px <= width ) {
    .mediaEqual {
        animation: slide 90s linear infinite;
    }

    .mediaEqual img {
        width: 150px;
    }
}