.productsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.productsTittle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-wrap: balance;
}

.generalProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generalProducts img {
    width: 100%;
    height: auto;
    max-width: 450px;
    margin-top: 15px;
    aspect-ratio: 4/3;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

.generalProducts h1,
#kitAntiResaca h1 {
    padding-bottom: 20px;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    margin: 0 10px 0 10px;
    padding: 20px;
}

.productCard a {
    font-weight: bolder;
}

#neones h1 {
    background: var(--textWhite);
    color: var(--secondary);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    margin: 0;
    padding: 5px;
}

#letras-love h1 {
    background: var(--secondary);
    color: var(--textWhite);
    text-decoration: underline;
    text-decoration-color: var(--textWhite);
    margin: 0;
    padding: 5px;
}

#kitAntiResaca h1 {
    color: var(--textWhite);
    text-decoration: underline;
    text-decoration-color: var(--accent);
    margin: 0;
    padding: 5px;
}

#kitAntiResaca img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

#kitAntiResaca {
    padding: 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
}

.descriptionKitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0rem;
}

.descriptionKitContainer p{
    width: 100%;
    height: auto;
}

.detailsKit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
    border: 2px solid var(--accent-2);
    padding: 10px;
    margin: 20px 0;
}

.detailsKit h2 {
    display: initial;
    font-family: var(--tittle-font);
    background-color: var(--secondary);
    color: var(--textWhite);
    text-decoration: underline;
    text-decoration-color: var(--textWhite);
    font-size: 2rem;
    margin: 0;
}

/* Medidad Tablet */
@media ( 760px <= width ) {
    .generalProducts {
        flex-direction: row;
    }

    .productCard {
        margin: 0 10px 0 10px;
    }

    .descriptionKitContainer {
        gap: 1rem;
    }
}

/* Medidas PC  */
@media ( 1024px <= width ) {

    #kitAntiResaca .contentContainer {
        max-width: 1000px;
    }

    #kitAntiResaca img {
        max-width: 400px;
        margin: 0 20px;
    }

    .productCardRow { 
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 10px 10px 50px 10px;
    }


    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .contentContainer h2 {
        display: inline-block;
        margin: 0;
        font-style: italic;
        font-weight: bolder;
    }

    .contentContainer .line {
        max-width: 80%;
        border-top: 1px solid var(--secondary);
    }
}

@media ( 1330px <= width ) {
    .descriptionKitContainer {
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .descriptionKitContainer p{
        width: 40%;
    }

    .detailsKit h2 {
        font-size: 1.75rem;
    }
}