.service4Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    padding-top: 100px;
    padding-bottom: 20px;
}

.service4Container h1 {
    color: var(--secondary);
    text-decoration: underline;
    text-decoration-color: var(--textWhite);
}

.service4Container h2 {
    display: none;
}

.service4Container a {
    font-weight: bolder;
}

.service4Container img {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

/* Medidad Tablet */
@media ( 760px <= width ) {

    .service4Container {
        padding-top: 150px;
    }

    .service4ContentContainer {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin: 10px 10px 50px 50px;
        gap: 2.5rem;
    }

    .service4Container h1 {
        padding-bottom: 0;
        color: var(--accent);
        text-decoration: none;
    }

    .service4Container h2 {
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 5px;
        font-style: italic;
        font-weight: bolder;
        background: var(--textWhite);
        color: var(--secondary);
    }

    .service4Container span {
        background: var(--textWhite);
        color: var(--accent);
        padding: 5px;
    }

    .service4Container img {
        margin: 0;
        object-fit: cover;
    }

    .service4Container .line {
        max-width: 80%;
        border-top: 1px solid var(--secondary);
    }

    .service4DescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

/* Medidas PC  */
@media ( 1024px <= width ) {
    .service4Container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        margin: 0;
        padding-top: 30px;
    }

    .service4Container h2{
        display: inline-block;
        font-style: italic;
        font-weight: bolder;
    }

    .service4Container img {
        margin-top: 50px;
        max-width: 400px;
    }

    .service4ContentContainer {
        margin: 100px 10px 50px 50px;
    }

    .service4DescriptionContainer {
        max-width: 1000px;
        gap: 0;
    }
}