@import "tailwindcss";
/* Definimos los colores de la web */
:root {
    font-family: 'Lora Variable', 'Adamina' ,'Roboto', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    
    color: var(--textBlack);
    background-color: var(--tf-300);

    /** Fonts */
    --primary-font: 'OpenSans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --accent-font: 'Lobster', system-ui;
    --tittle-font: 'Anton', sans-serif;

    /** Primary Colors */
    --textWhite: #FFFFFF;
    --primary: #FA7693;
    --secondary: #E0D9B9;
    --accent: #E1FE6B;
    --accent-2: #ff9fef;
    --textBlack : #010101;

    --contrastBlack: #191919;
    --contrastBlack2: #262626;

    --background: #100811;

    /** @Telefonoaudiolibro Colors*/
    --tf-50: #fef2f5;
    --tf-100: #fee5eb;
    --tf-200: #fccfdc;
    --tf-300: #fab8cb;
    --tf-400: #f5779f;
    --tf-500: #ec477f;
    --tf-600: #b61a5a;
    --tf-700: #490825;
    --tf-800: #981951;
    --tf-900: #83184b;
    --tf-950: #490825;

}