/* * Header */

header {
    position: relative;
    margin: 0;
    overflow: hidden;
    view-timeline: --scroll;
    z-index: 999;
}

header h1,h2 {
    margin: 5px;
    padding: 0;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: -1;
}

.presentationContainer .imgMobile {
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
}

.videoTabletPC,
.imgTablet {
    display: none;
}


.presentationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    margin-top: 100px;
    margin-bottom: 20px;
    gap: 1rem;
    text-align: center;
    text-wrap: balance;
}

.presentationContainer h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--textWhite);
}

.presentationContainer h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    padding: 0px;
    background: none;
}

.presentationContainer .goService1 {
    width: 35px;
    background: none;
    border-radius: 50%;
    rotate: 90deg;
    cursor: pointer;
}

.h1Tittle,
.h2Tittle,
.h2TittleAccent{
    margin: -0.25rem;
    padding: 0;
}

.h1Tittle {
    line-height: 3rem;
}

.h2TittleAccent {
    position: absolute;
    top: 60%;
    left: 60%;
    rotate: -10deg;
    color: var(--accent);
    font-size: 2rem;
}

.presentationContainer .h2TittleAccent {
    font-size: 2.5rem;
}

.tittles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

@media ( 620px <= width ) {
    .h2TittleAccent {
        top: 56%;
    }
}


/* * Medida Tablet */

@media ( 760px <= width ) {

    .presentationContainer h1 {
        font-size: 3.25rem;
    }

    .presentationContainer h2 {
        font-size: 2.5rem;
    }

    .presentationContainer {
        min-height: 755px;
    }

    .presentationContainer .h2TittleAccent {
        font-size: 3.25rem;
        top: 56%;
    }

    .videoTabletPC,
    .imgTablet {
        display: block;
    }

    .videoMobile,
    .imgMobile {
        display: none;
    }

    .presentationContainer .imgTablet {
        position: absolute;
        filter: brightness(50%);
        z-index: -1;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -0.75rem;
        padding: 0;
    }

    .h1Tittle {
        line-height: initial;
    }
}

@media ( 900px <= width ) {

    .presentationContainer h1 {
        font-size: 4rem;
    }

    .presentationContainer h2 {
        font-size: 3rem;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -1rem;
        padding: 0;
    }

    .presentationContainer .h2TittleAccent {
        font-size: 3.75rem;
        top: 57%;
    }

    .videoTabletPC {
        display: block;
    }

    .videoMobile {
        display: none;
    }
}

/** Medida PC  */

@media ( 1225px <= width ) {

    .presentationContainer {
        min-height: 850px;
    }

    .presentationContainer h1 {
        font-size: 5rem;
    }

    .presentationContainer h2 {
        font-size: 4rem;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -1.25rem;
        padding: 0;
    }

    .presentationContainer .h2TittleAccent {
        font-size: 4.75rem;
        top: 58%;
    }

    .presentationContainer h1:hover {
        filter: none;
    }

}

@media ( 1400px <= width ) {

    .presentationContainer h1 {
        font-size: 6rem;
    }

    .presentationContainer h2 {
        font-size: 5rem;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -1.5rem;
        padding: 0;
    }

    .presentationContainer .h2TittleAccent {
        font-size: 6.25rem;
        top: 59%;
    }

}
