/* * Header */

header {
    position: relative;
    margin: 0;
    overflow: hidden;
    view-timeline: --scroll;
    z-index: 999;
}

header h1 {
    margin: 0px;
    padding: 0;
}

.presentationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: balance;
}

.presentationContainer h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

.presentationContainer h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    background: none;
}

.presentationContainer img {
    width: 75%;
    height: auto;
    border-radius: 25px;
}

@media ( 620px <= width ) {
    .h2TittleAccent {
        top: 56%;
    }
}


/* * Medida Tablet */

@media ( 760px <= width ) {

    .presentationContainer h1 {
        font-size: 3.25rem;
    }

    .presentationContainer h2 {
        font-size: 2.5rem;
    }

    .presentationContainer {
        min-height: 755px;
    }

    .videoTabletPC,
    .imgTablet {
        display: block;
    }

    .videoMobile,
    .imgMobile {
        display: none;
    }
}

@media ( 900px <= width ) {

    .presentationContainer h1 {
        font-size: 4rem;
    }

    .presentationContainer h2 {
        font-size: 3rem;
    }
}

/** Medida PC  */

@media ( 1225px <= width ) {

    .presentationContainer {
        min-height: 850px;
    }

    .presentationContainer h1 {
        font-size: 5rem;
    }

    .presentationContainer h2 {
        font-size: 4rem;
    }
}

@media ( 1400px <= width ) {

    .presentationContainer h1 {
        font-size: 6rem;
    }

    .presentationContainer h2 {
        font-size: 5rem;
    }
}
