/* * Header */

header {
    position: relative;
    margin: 0;
    overflow: hidden;
    view-timeline: --scroll;
    z-index: 999;
}

header h1,h2 {
    margin: 5px;
    padding: 0;
}

.videoTabletPC,
.imgTablet {
    display: none;
}


.presentationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    margin-top: 100px;
    margin-bottom: 20px;
    gap: 1rem;
    text-align: center;
    text-wrap: balance;
}

.presentationContainer h1 {
    font-size: 3rem;
    font-weight: 700;
}

.presentationContainer h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    padding: 0px;
    background: none;
}

.h1Tittle,
.h2Tittle,
.h2TittleAccent{
    margin: -0.25rem;
    padding: 0;
}

.h1Tittle {
    line-height: 3rem;
}

.h2TittleAccent {
    position: absolute;
    top: 60%;
    left: 60%;
    rotate: -10deg;
    color: var(--accent);
    font-size: 2rem;
}

.tittles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

@media ( 620px <= width ) {
    .h2TittleAccent {
        top: 56%;
    }
}


/* * Medida Tablet */

@media ( 760px <= width ) {

    .presentationContainer h1 {
        font-size: 3.25rem;
    }

    .presentationContainer h2 {
        font-size: 2.5rem;
    }

    .presentationContainer {
        min-height: 755px;
    }

    .videoTabletPC,
    .imgTablet {
        display: block;
    }

    .videoMobile,
    .imgMobile {
        display: none;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -0.75rem;
        padding: 0;
    }

    .h1Tittle {
        line-height: initial;
    }
}

@media ( 900px <= width ) {

    .presentationContainer h1 {
        font-size: 4rem;
    }

    .presentationContainer h2 {
        font-size: 3rem;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -1rem;
        padding: 0;
    }

    .videoTabletPC {
        display: block;
    }

    .videoMobile {
        display: none;
    }
}

/** Medida PC  */

@media ( 1225px <= width ) {

    .presentationContainer {
        min-height: 850px;
    }

    .presentationContainer h1 {
        font-size: 5rem;
    }

    .presentationContainer h2 {
        font-size: 4rem;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -1.25rem;
        padding: 0;
    }
}

@media ( 1400px <= width ) {

    .presentationContainer h1 {
        font-size: 6rem;
    }

    .presentationContainer h2 {
        font-size: 5rem;
    }

    .h1Tittle,
    .h2Tittle,
    .h2TittleAccent{
        margin: -1.5rem;
        padding: 0;
    }

}
