.reviewsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: var(--textWhite);
    padding: 20px;
}

.reviewsContainer h2 {
    font-family: var(--tittle-font);
    font-size: 2rem;
}

.reviewsContainer h3{
    padding: 10px;
    margin: 0;
    text-align: center;
    text-wrap: balance;
}

.reviewsContainer h4 {
    background: var(--secondary);
    color: var(--textWhite);
    margin: 10px 0 15px 0;
    padding: 10px;
    font-weight: 100;
    border-radius: 5px;
}

.reviewsContainer p {
    margin: 0;
}

.reviewsContainer a {
    color:  var(--accent);
    text-decoration: underline;
    text-decoration: var(--accent);
    font-size: 1rem;
    margin-bottom: 10px;
    transition: transform .5s ease;
}

.fotomatonImgReviews {
    width: 100%;
    max-width: 700px;
    height: auto;
    overflow: hidden;
    padding: 0 30px;
}

.reviewCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin: 10px;
    padding: 10px;
    border: 3px dotted var(--accent);
    border-radius: 25px;
}

.reviewCard img {
    width: 100%;
    max-width: 120px;
    height: auto;
    padding: 10px;
    background: var(--textWhite);
}

.description img {

    width: 100%;
    max-width: 30%;
    max-height: 25%;
    height: auto;
    border-radius: 50%;
    background: transparent;
    padding: 0;
}

.description {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    gap: 1rem;
    align-items: flex-start;
}

.reviewsMediaContainer {
    width: fit-content;
    background: var(--textWhite);
}

.reviewsMediaContainer img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* Animaciones para review */

.reviewsMediaContainer img {
    animation-name: none;
}

@keyframes showLogo {
    from {
        opacity: 0%;
        scale: 15%;
    } to {
        opacity: 1;
        scale: 100%;
    }
}


.reviewsMediaContainer {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: showLogo;

    animation-range: entry 5% cover 15%;
    animation-fill-mode: both;
}

/* Medidad Tablet */
@media ( 760px<= width ) {
    .description img {
        margin: 0 0 20px 20px;
    }

    .reviewCard img {
        max-width: 20%;
    }

    .reviewsContainer h2 {
        font-size: 2.5rem;
    }

    .reviewsContainer a {
        font-size: 1.05rem;
    }

}

/* Medidas PC  */
@media ( 1300px <= width ) {
    .fotomatonImgReviews {
        max-width: 1400px;
        margin: 0 20px;
    }

    .description img {
        margin: 0;
    }

    .reviewsContainer a {
        font-size: 1.2rem;
    }

    .reviewsContainer a:hover {
        transform: scale(1.2);
    }

    .reviewsContainer h2 {
        font-size: 2.75rem;
    }

    .reviewsContainer img {
        max-width: 50%;
    }

    .description img {
        max-width: 30%;
    }

    .reviewsMediaContainer img {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}