.service2Container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    box-sizing: border-box;
    width: 100%;
}

.service2ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

.service2Container h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    color: var(--secondary);
    text-decoration: underline;
    text-decoration-color:  var(--textWhite);
}

.service2Container h2 {
    display: none;
}

.service2Container a {
    font-weight: bolder;
}

.service2Container img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px;
}

.service2DescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailsService2 {
    width: fit-content;
    border: 2px solid var(--accent-2);
    margin-bottom: 10px;
    padding: 20px;
}

.service2Container span {
    color: var(--accent);
    font-weight: bolder;
}

.service2Container .citaReview {
    font-family: var(--accent-font);
    color: var(--accent);
    background-color: var(--textWhite);
    padding: 5px;
    text-decoration: underline;
}

.service2Container .detailsService2 h2{
    display: initial;
    font-family: var(--tittle-font);
    font-size: 2rem;
    color: var(--secondary);
    background-color: transparent;
    margin: 0;
}

/* ******************************************
*** Service 2 Slider ***
****************************************** */

.fotomatonImgService2 {

    width: 100%;
    max-width: 500px;
    overflow: hidden;
    padding: 0 25px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
}

.service2Container .slick-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service2Container .slick-slider img{
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* Animaciones para el servicio 1 */

@keyframes showImgSlider {
    from {
        opacity: 0%;
        scale: 25%;
    } to {
        opacity: 1;
        scale: 100%;
    }
}


.fotomatonImgService2 {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: showImgSlider;

    animation-range: entry 15% cover 50%;
    animation-fill-mode: both;
}

/* Medidad Tablet */

@media ( 760px <= width ) {
    .service2ContentContainer {
        flex-direction: row;
        align-items: stretch;
        margin: 10px 10px 10px 50px;
        gap: 2.5rem;
    }

    .service2Container h1 {
        font-size: 2.75rem;
        padding-bottom: 0;
        color: var(--accent);
        text-decoration: none;
    }

    .service2Container h2 {
        display: inline-block;
        margin: 0;
        padding: 5px;
        font-style: italic;
        font-weight: bolder;
        background: var(--textWhite);
        color: var(--secondary);
    }

    .service2Container .line {
        max-width: 80%;
        border-top: 1px solid var(--secondary);
    }

    .service2DescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .detailsService2 {
        display: none;
    }

}

/* Medidas PC  */
@media ( 1300px <= width ) {
    .service2Container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        margin: 0;
    }

    .service2Container h1 {
        font-size: 3rem;
    }

    .service2Container h2{
        display: initial;
    }

    .service2Container img {
        max-width: 550px;
    }

    .service2ContentContainer {
        align-items: center;
        margin: 50px 10px 50px 50px;
    }

    .service2DescriptionContainer {
        max-width: 1000px;
        gap: 0;
    }

    .detailsService2 {
        display: inline-block;
    }

    .service2Container .detailsService2 h2 {
        font-size: 2.5rem;
    }
}